<!doctype html>
<html lang="en">
    <head>
        <title>Main Page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <h1>Color Palette Creator<h1>
        <form method="post" action="/generate">
            <label>Choose an initial color to create a color palette around. <input type="color" name="color"></label><br>
            <input type="submit" value="Submit Request"/>
	    </form>

        <br>
        <hr>
	    <a href="/">HOME</a>

        <% if (locals.message) { %>
        <script>
            alert("<%= message %>");
        </script>
        <% } %>
    </body>
</html>