<!doctype html>
<html lang="en">
    <head>
        <title>Main Page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <h1>Color Palette Creator</h1>
        <p>
            <ul>
                <li><a href="/create_new">Create new color palette</a></li>
                <li><a href="/viewAll">View saved color palettes</a></li>
            </ul>
        </p>
    </body>
</html>
